/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mai 2018, 17:23:18
    Author     : steph
*/

/* mettre une animation pour que le text descriptif vien de la droite*/

@keyframes textcorp {
    from {
        margin-right: -3000px;
    }
    to {
        margin-right: 0px;
    }
}

.content {
    text-align: center;
    font-family: 'Arvo', serif;
}

#titre h1 {
    margin-top: 50px;
    font-size: 300%;
}

.corp{
    position: relative;
    display: inline-block;
    width: 158px;
    height: 608px;
    background: url(images/corpextend.png) left top no-repeat;
}

#corptextcontent{
    position: relative;
    display: inline-block;
    width: 200px;
}

#corptextcontent p {
    text-align: left;
    font-style: bold;
}

#corptextcontent h2 {
    text-align: left;
    font-size: 150%;
}

.contentcorp {
    margin-top: 50px;
}

#epaule, #coude, #poignet, #hanche, #genou, #cheville {
    display:none;
}

.corp .overlay {
    position: absolute;
    display: inline-block;
    width: 158px;
    height: 608px;
    background: url(images/corpextend.png) 158px top no-repeat;
    top:0;
    left:0;
    z-index: 1;
}

.corp img {
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}

.corp .info {
    position: fixed;
    border-radius: 5px;
    color: white;
    background: black;
    padding: 0 10px;
    top:0;
    left:0;
    z-index: 3;
    display: inline;
    text-align: center;
}